<div class="content-chat">
  <header>
    <div class="container">
      <div class="header-content">
        <span class="logo">{{title}}</span>
        <small class="version-text">{{version}}</small>
      </div>
    </div>
  </header>


  @if (chats.length > 0) {
  <main class="section-chats">
    <div class="container chat-messages">
      @for(item of chats; track $index) {
        @if (item.type === 'USER') {
        <div class="message user">
          <div>{{item.message}}</div>
        </div>
        } @else {
        <div class="message chatgpt">
          <div class="content-icon-chatgpt">
            🤖
            <div *ngIf="item.message">
              <markdown [data]="item.message"></markdown>
            </div>
          </div>
        </div>
        }
      }

      @if (loadRespuesta) {
        <div class="message chatgpt">
          <div class="bot-typing">
            <span></span>
          </div>
        </div>
      }
    </div>
  </main>
  <footer>
    <div class="container">
      <div class="input-container-chat-activo ">
        <ng-container *ngTemplateOutlet="ngtInputchat"></ng-container>
      </div>
    </div>
  </footer>
  } @else {
  <main>
    <h1>¿En qué puedo ayudarte?</h1>
    <div class="input-container">
      <ng-container *ngTemplateOutlet="ngtInputchat"></ng-container>
    </div>
    <div class="input-container suggestions">
      @for(item of links ; track $index) {
      <button class="btn btn-secondary btn-icon" (click)="message = item.text">
        {{item.text}}
        <span class="material-symbols-outlined icon-xs">arrow_outward</span>
      </button>
      }
    </div>
  </main>

  <footer>
    <div class="container">
      <div class="footer-content">
        <p class="footer-text">
          Al enviar mensajes, aceptas los Términos y Política de IA
        </p>
        <div class="footer-links">
          @for(item of footerLinks; track $index) {
          <a [href]="item.url" target="_blank">{{item.text}}</a>
          }
        </div>
      </div>
      <br>
      <div class="text-center">
        <small>{{today}}</small>
      </div>
    </div>
  </footer>
  }
</div>

<ng-template #ngtInputchat>
  <textarea #inputMss placeholder="Escribe tu pregunta..." 
    [(ngModel)]="message"
   (keydown.enter)="sendMessage()">
  </textarea>
  <div class="input-buttons">
    <button class="btn btn-ghost btn-icon" [disabled]="loadRespuesta" (click)="sendMessage()">
      <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none"
        stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
        <path d="m5 12 7-7 7 7" />
        <path d="M12 19V5" />
      </svg>
    </button>
  </div>
</ng-template>